$primary: #005585;
$accent: #00ad45;
$grey: #456173;
$black: #092a35;

@font-face {
  font-family: "Jessy";
  font-display: auto;
  font-weight: normal;
  src: url("../fonts/Jessy.ttf");
}
.jessy {
  font-family: "Jessy", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}
