@import "base";
@import "em";



* {
  margin: 0;
  padding: 0;
  font-family: Mina !important;
  text-align: center !important;
}

body {
  background-image: url(http://jester.netlify.com/static/media/01.0277c785.png);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  margin: em(60) 0 0 0 ;
  .container {
    flex-flow: column;
    & > div,
    button {
      margin-bottom: em(10);
    }
    .image {
      padding-top: em(20);
      img {
        width: em(100);
        height: em(100);
        border-radius: em(50);
        box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
      }
    }
    .name {
      font-size: em(20);
      color: $black;
    }
    .about {
      font-size: em(15);
      span {
        color: $accent;
      }
    }

    button {
      color: white;
      background: $primary;
      border: 0;
      width: em(100);
      height: em(34);
      margin-bottom: em(10);
      margin-top: em(10);
      cursor: pointer;
      border-radius: 2px;
      box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
    }
  }
}

.content {
  width: em(690);

  & > div {
    margin: em(50) 0;
  }
  .post {
    cursor: pointer;
    .post-title {
      font-size: em(30);
      margin-bottom: em(5);
      color: $black;
      &:hover {
        color: $primary;
        cursor: pointer;
      }
    }
    .post-about {
      font-size: em(18);
      width: em(600);
      color: $grey;
    }

    .post-social {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      & > div {
        margin: em(15) em(0);
      }
      .tag {
        text-transform: lowercase;
        color: $accent;
        margin-right: em(10);
        font-size: em(15);
      }
    }

    .post-time {
      font-size: em(15);
      color: lighten($color: $grey, $amount: 25);
    }
  }
}

.footer {
  margin: em(20) 0;
  font-size: em(15);
}
